* {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2bdb7;
  border-radius: 10px;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  margin: auto;
}

h1 {
  color: blue;
}
