<h1>Passer commande</h1>

<form [formGroup]="form" (ngSubmit)="passerCommande()">
  <div>
    <label for="telephone">Telephone</label>
    <input type="text" id="telephone" formControlName="telephone">
  </div>

  <div>
    <label for="adresse">Adresse</label>
    <input type="text" id="adresse" formControlName="adresse">
  </div>

  <div>
    <label for="code_postal">Code Postal</label>
    <input type="text" id="code_postal" formControlName="code_postal" maxlength="5">
  </div>

  <div>
    <label for="ville">Ville</label>
    <input type="text" id="ville" formControlName="ville">
  </div>

  <!-- consentement rgpd -->
  <div style="margin-top: 1rem; font-size: 0.8rem;">
    <label style="display: flex; align-items: center; gap: 0.5rem;">
      <input type="checkbox" required>
      <span>J'accepte que mes données soient traitées <a routerLink="/politique-rgpd" style="text-decoration: underline;">politique de protection des données</a>.</span>
    </label>
  </div>

  @if (error) {
    <p>{{ error }}</p>
  }

  <button type="submit" [disabled]="loading">
    @if (loading) {
      Envoi en cours...
    } @else {
      Passer Commande
    }
  </button>
</form>
